.profileCard {
  width: 100%;
}

.profileHeader {
  background: #404040 !important;
  padding-bottom: 10px !important;
  padding-top: 17px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.profileHeaderTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileAvatar {
  width: 80px;
  height: 80px;
}

.profileHeaderNames {
  margin: 12px 0 0 0 !important;
  text-align: center;
}

.profileDisplayName {
  color: #fff;
}

.profileUserName {
  color: #ffc107;
}

.profileIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
  color: #fff;
  margin-top: -5px;
}

.profIconSpan {
  text-align: center;
}

.profileIcon {
  flex: 1;
  font-size: 20px;
  margin-bottom: 5px;
}

.profileTweetCount {
  font-size: 15px;
  color: #ffc107;
}

.profileFollowerCount {
  font-size: 15px;
  color: #ffc107;
}

.profileFollowingCount {
  font-size: 15px;
  color: #ffc107;
}

.profileIconInfo {
  font-size: 13px;
}

.profileBody {
  background: rgba(0, 0, 0, 0.03);
  text-align: center;
}

.profileBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.profileTweetBtn {
  background: #ffc107 !important;
  color: #333 !important;
  border: none !important;
}

.profileTweetBtn:hover {
  background: #333 !important;
  color: #ffc107 !important;
}
