.profileCard {
  width: 100%;
}

.profileHeader {
  background: #404040 !important;
  padding-bottom: 10px !important;
  padding-top: 17px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.profileHeaderTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileAvatar {
  width: 80px;
  height: 80px;
}

.profileHeaderNames {
  margin: 12px 0 0 0 !important;
  text-align: center;
}

.profileDisplayName {
  color: #fff;
}

.profileUserName {
  color: #ffc107;
}

.profileIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
  color: #fff;
  margin-top: -5px;
}

.profIconSpan {
  text-align: center;
}

.profileIcon {
  flex: 1;
  font-size: 20px;
  margin-bottom: 5px;
}

.profileTweetCount {
  font-size: 15px;
  color: #ffc107;
}

.profileFollowerCount {
  font-size: 15px;
  color: #ffc107;
}

.profileFollowingCount {
  font-size: 15px;
  color: #ffc107;
}

.profileIconInfo {
  font-size: 13px;
}

.profileBody {
  background: rgba(0, 0, 0, 0.03);
  text-align: center;
  border: 0.1px solid #a6a6a6;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.profileTweetAlert {
  background: #ffc107;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.profileTweetAlertDanger {
  background: #ed5249;
  color: #f2f2f2;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.profileTextArea {
  border: 1px solid #a6a6a6 !important;
  width: 100% !important;
  resize: none !important;
}

.profileTextArea:focus {
  border: 1px solid #a6a6a6 !important;
}

.profileTextAreaError {
  border: 1px solid #ed5249 !important;
  width: 100% !important;
  resize: none !important;
  animation: wobble 1s linear;
}

.profileTextAreaError:focus {
  border: 1px solid #ed5449 !important;
}

.tweetOverLimit {
  color: red;
}

.profileBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.tweetCharacterCount {
  margin-right: auto;
  padding-top: 5px;
}

.profileTweetBtn {
  border: none !important;
  background: #404040 !important;
  color: #ffc107 !important;
  font-size: 17px !important;
  letter-spacing: 1.3px !important;
  border-radius: 22px !important;
  padding: 10px 22px !important;
}

.tweetBtnDisable {
  border: none !important;
  background: #404040 !important;
  color: #ffc107 !important;
  font-size: 17px !important;
  letter-spacing: 1.3px !important;
  border-radius: 22px !important;
  padding: 10px 22px !important;
  cursor: not-allowed !important;
}

.tweetBtnDisable:hover {
  cursor: not-allowed !important;
}

.tweetBtnDisable:hover > .profilePaperPlane {
  animation: none !important;
}

.profileTweetBtn:hover {
  background: #404040 !important;
  color: #fff !important;
}

.profileTweetBtn:hover > .profilePaperPlane {
  animation: animate 0.4s linear;
}

.profilePaperPlane {
  margin-left: 3px;
  font-size: 15px !important;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-15px) rotate(-5deg);
  }
  30% {
    transform: translateX(10px) rotate(3deg);
  }
  45% {
    transform: translateX(-5px) rotate(-3deg);
  }
  60% {
    transform: translateX(0px) rotate(2deg);
  }
  75% {
    transform: translateX(5px) rotate(-1deg);
  }
  100% {
    transform: translateX(0px);
  }
}
