.profileCard {
  width: 100%;
}

.profileHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileAvatar {
  width: 80px;
  height: 80px;
}

.profileHeaderNames {
  margin: 15px 0 0 0;
}

.profileIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

.profTwitterIcon {
  flex: 1;
  font-size: 25px;
}

.profileBody {
  text-align: center;
}

.profileBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.profileTweetBtn {
  background: #ffc107 !important;
  color: #333 !important;
  border: none !important;
}

.profileTweetBtn:hover {
  background: #333 !important;
  color: #ffc107 !important;
}
