.card {
  border-radius: 10px !important;
  box-shadow: 1px 1px 2px #dcffcc;
  margin-bottom: 30px;
}

.tweetHeader {
  display: flex;
  flex-direction: row;
  background: #dcffcc !important;
}

.avatar {
  width: 70px;
  height: 70px;
}

.twitterNames {
  padding: 12px 0 0 18px;
}

.displayName {
  font-weight: bold;
}

.userName {
  margin-left: -2.8px;
}

.tweetFooter {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  margin-bottom: -10px;
}

.retweetDiv {
  padding-left: 230px;
}

.heartDiv {
  padding-left: 20px;
}

.replyDiv {
  padding-left: 20px;
}

.retweetValue {
  padding-left: 3.5px;
}

.heartValue {
  padding-left: 5.5px;
}

.replyValue {
  padding-left: 5.5px;
}
