.card {
  border-radius: 10px !important;
  margin-bottom: 30px;
}

.tweetHeader {
  display: flex;
  flex-direction: row;
  background: #404040 !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.avatar {
  width: 70px;
  height: 70px;
}

.twitterNames {
  padding: 12px 0 0 18px;
}

.displayName {
  font-weight: bold;
  color: #fef6fb;
}

.userName {
  margin-left: -2.8px;
  color: #ffc107;
}

.tweetBody {
  background: #fff;
  border: 1px solid #8c8c8c;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.tweetFooter {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  margin-bottom: -10px;
}

.tweetTime {
  color: #4d4d4d;
  font-weight: bold;
}

.clockIcon {
  margin-right: 5px;
  font-size: 11.5px;
  color: #f2bc07;
}

.retweetDiv {
  padding-left: 180px;
}

.heartDiv {
  padding-left: 20px;
}

.replyDiv {
  padding-left: 20px;
}

.retweetIcon {
  color: #4d4d4d;
}

.heartIcon {
  color: #4d4d4d;
}

.replyIcon {
  color: #4d4d4d;
}

.retweetValue {
  padding-left: 3.5px;
  font-weight: bold;
}

.heartValue {
  padding-left: 5.5px;
  font-weight: bold;
}

.replyValue {
  padding-left: 5.5px;
  font-weight: bold;
}
