@import url("https://fonts.googleapis.com/css?family=Secular+One&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fef6fb;
  overflow-x: hidden;
}

/*
background: #b2fcff;
background: #fef6fb;
*/
